.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  